[Desktop Entry]
Name=Reinschrift
Comment=Manage your todos in Markdown
Exec=reinschrift
Icon=me.dumke.Reinschrift
Terminal=false
Type=Application
Categories=Utility;GTK;GNOME;Office;
StartupNotify=true
Keywords=todo;task;markdown;
X-GNOME-UsesNotifications=true
